<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://use.fontawesome.com/c618b41cc0.js"></script>
    <link rel="stylesheer" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
    <style>
        body {
            background: url(/images/background.png) fixed; /* Цвет заливки и путь к зафиксированному фоновому изображению */
        }

        .navbar-brand {
            padding-right: 1rem;
            font-size: 1.15rem;
            padding-bottom: 0;
            font-weight: 600;
        }

        .nav-item {
            padding-right: 1rem;
        }

        .nav-link {
            font-size: 1.15rem;
        }

        .active {
            font-weight: 500;
        }

        .fill_white {
            background-color: #fff;
            padding: 2.5rem;
        }

        .field-validation-error {
            color: #b94a48;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            border: 1px solid #b94a48;
        }

        input[type="checkbox"].input-validation-error {
            border: 0 none;
        }

        .validation-summary-errors {
            color: #b94a48;
        }

        .validation-summary-valid {
            display: none;
        }

        .dropdown-item.active, .dropdown-item:active {
            background-color: lightslategray;
        }
    </style>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand pt-0" href="/">Wahama Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сеттинги</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <a class="dropdown-item" asp-controller="Alliances" asp-action="Index" asp-route-settingName="Warhammer 40,000">Warhammer 40K</a>
                            <a class="dropdown-item" asp-controller="Alliances" asp-action="Index" asp-route-settingName="Age of Sigmar">Age of Sigmar</a>
                            <a class="dropdown-item" asp-controller="Alliances" asp-action="Index" asp-route-settingName="Malifaux">Malifaux</a>
                        </div>
                    </li>


                </ul>
                <ul class="navbar-nav">
                    @{ if (!User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-action="Login" asp-controller="Account">Войти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Register" asp-controller="Account">Регистрация</a>
                            </li>
                        }
                        else
                        {                           
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name.Split('@')[0]</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown05">
                                    <a class="dropdown-item" href="#">Аккаунт</a>

                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выйти</a>

                                </div>
                            </li>
                        }
                    }
                    <li class="nav-item ml-auto flex-row">
                        <a asp-controller="ShoppingCarts" asp-action="Index"><img style="width:1.5rem" src="~/images/cart.png" /></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content fill_white">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Wahama</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">


        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>


    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    $('#logOut').click(function (e) {
            e.preventDefault();            
            sessionStorage.removeItem(tokenKey);
        });
</script>