@model Wahama.ViewModels.LoginModel
@{
    ViewData["Title"] = "Авторизация";
}

<style>

    h2 {
        margin-bottom: 2rem;
    }

    form {
        margin-top: 5rem;
    }

    input {
        margin-bottom: 1.5rem;
    }

        input.checkbox {
            margin-bottom: 0;
        }

    
    #cat {
        margin-top: 8.5rem;
    }

    .input-group-text {
        width: 5rem;
    }

    .input-group {
        margin-bottom: 1rem;
    }

    input.form-control {
        width: 50%
    }

    .input-validation-error {
        border-color: red;
        
    }
    .validation-error{
        margin-bottom:1rem;
    }
</style>

<h2>Войти в аккаунт</h2>

<h5>Еще не зарегистрированы? Вы можете сделать это прямо <a asp-action="Register" asp-controller="Account">сейчас.</a></h5>
<div class="row">
    <div class="col-4">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="validation-error">
                <span asp-validation-for="Email" />
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">E-mail</span>
                </div>
                <input class="form-control" type="text" asp-for="Email" />
            </div>
            <div class="validation-error">
                <span asp-validation-for="Password" />
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span id="basic-addon1" class="input-group-text">Пароль</span>
                </div>
                <input class="form-control" asp-for="Password" />
            </div>

            <div class="form-group">
                <input type="checkbox" class="checkbox" /> <span>Запомнить меня</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-light btn-outline-dark" />
            </div>
        </form>
    </div>
    <div class="flex-row ml-auto"><img style="width:35rem;" src="~/images/soldier.png" /></div>
</div>