@model Wahama.ViewModels.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}
<style>
    form {
        margin-top: 5rem;
    }

    input {
        margin-bottom: 1.5rem;
    }

        input.checkbox {
            margin-bottom: 0;
        }
    #cat{
        margin-top:8.5rem;
    }
</style>

<h2>Регистрация</h2>
<div class="container">
    <div class="row">

        <div class="col-4">
            <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <div>

                        <label asp-for="Email">E-mail</label><br />

                        <input type="text" asp-for="Email" />
                        <span asp-validation-for="Email" />

                    </div>
                    <div>
                        <label asp-for="FirstName">Имя</label><br />
                        <input type="text" asp-for="FirstName" />
                        <span asp-validation-for="FirstName" />
                    </div>
                    <div>
                        <label asp-for="LastName">Фамилия</label><br />
                        <input type="text" asp-for="LastName" />
                        <span asp-validation-for="LastName" />
                    </div>
                    <div>
                        <label asp-for="PhoneNumber">Номер телефона</label><br />
                        <input type="text" asp-for="PhoneNumber" />
                        <span asp-validation-for="PhoneNumber" />
                    </div>
                    <div>
                        <label asp-for="Password">Введите пароль</label><br />
                        <input asp-for="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword">Повторите пароль</label><br />
                        <input asp-for="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" />
                    </div>
                    <div>

                        <p>
                            <input class="checkbox" id="agreement" type="checkbox" />
                            Я согласен(-на) предоставить персональную информацию интернет-магазину Wahama Shop
                        </p>
                    </div>
                    <div>
                        <input type="submit" id="register" disabled value="Регистрация" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3" id="cat">
            <img style="width:43rem" src="~/images/registercat.png" />
        </div>

    </div>

</div>

<script>
    $('#agreement').change(function () {
        var chbox = document.getElementById('agreement');
        if (chbox.checked) {
            $('#register').prop("disabled", false);
        } else {
            $('#register').prop("disabled", true);
        }
    }
    );
</script>