@model RestorePassword
@{
    ViewData["Title"] = "Восстановления пароля";
}
<style>
    form {
        margin-top: 5rem;
    }

    input {
        margin-bottom: 1.5rem;
    }

        input.checkbox {
            margin-bottom: 0;
        }

    #cat {
        margin-top: 8.5rem;
    }
</style>

<h2>Восстановление пароля</h2>
<hr />
<h3 id="success"></h3>
<div class="container">
    <div class="row">
        <div class="col-4">
            <form asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <div>
                        <label asp-for="Email">E-mail</label><br />
                        <input id="email" type="text" asp-for="Email" />
                        <div class="btn btn-dark" id="getCode">Получить код</div>
                        <span asp-validation-for="Email" />

                    </div>
                    <div id="code" class="d-none">
                        <label>Код подтверждения</label>
                        <input id="codeInput" type="text" />
                        <div id="submitCode" class="btn btn-dark">Отправить</div>
                    </div>
                    <div id="newPw" class="d-none">
                        <label asp-for="NewPassword">Введите новый пароль</label><br />
                        <input id="newPassword" type="password" asp-for="NewPassword" />
                        <span asp-validation-for="NewPassword" />
                    </div>
                    <div id="newPwConf" class="d-none">
                        <label asp-for="NewPasswordConfirmation">Повторите новый пароль</label><br />
                        <input id="newPasswordConfirmation" type="password" asp-for="NewPasswordConfirmation" />
                        <span asp-validation-for="NewPasswordConfirmation" />
                    </div>
                    <div>
                        <input type="submit" id="updatePw" disabled value="Обновить пароль" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3" id="cat">
            <img style="width:43rem" src="~/images/registercat.png" />
        </div>

    </div>

</div>

<script>
    var tokenBtn = document.getElementById("getCode");
    var sumbitTokenBtn = document.getElementById("submitCode");
    var updatePw = document.getElementById("updatePw");
    

    tokenBtn.addEventListener("click", function () {
        $.ajax({
            url: '@Url.Content("~/")' + 'ChangePassword/SendMessage',
            type: "POST",
            data: {email: $('#email').val()},
            error: function () {
                alert("Произошла ошибка")
            },
            success: function (data) {
                $('#code').removeClass('d-none')
            }
        })
    });

    sumbitTokenBtn.addEventListener("click", function () {
        $.ajax({
            url: '@Url.Content("~/")' + 'ChangePassword/CompareToken',
            type: "POST",
            data: { mail: $('#email').val(), password: $('#codeInput').val() },
            error: function () {
                alert("Неправильный код подтверждения")
            },
            success: function (result) {
                if (result === true) {
                    $('#newPw').removeClass('d-none');
                    $('#newPwConf').removeClass('d-none');
                    updatePw.removeAttribute('disabled');
                    $('#code').addClass('d-none');
                } else {alert("Ошибка")}
            }
        })
    });

    updatePw.addEventListener("click", function () {
        if ($('#newPassword').val() === $('#newPasswordConfirmation').val()) {
            $.ajax({
                url: '@Url.Content("~/")'+ 'ChangePassword/UpdatePassword',
                type: "POST",
                data: { newPassword: $('#newPassword').val(), mail: $('#email').val() },
                error: function () {
                    alert("Неправильно введены данные")
                },
                success: function (data) {
                    alert("Ваш пароль был успешно восстановлен.");
                }
            })
        } else {            
            location.reload();
            alert("Проверьте введенные данные");
        }
        

    });

    
</script>