@model IEnumerable<Wahama.ProductAlliance>

@{
    ViewData["Title"] = "Index";
}
<style>
   
    h2{
        text-align:center;
        padding-bottom:2rem;    
    }
    body {
        display: inline !important;
        
    }
    #Alliances{
        padding-top:1rem;
        padding-bottom:1rem;
    }

    #Alliances > a {
        
        font-size: 1.25rem;
        color:black;
        text-decoration:none;
    }
</style>
<h2>@{var setting = Model.Select(p => p.ProductSetting.Title).FirstOrDefault();}
    @setting</h2>


<div class="row text-center">

    @foreach (var item in Model)
    {
        <div class="col-3" id="Alliances">
            <a asp-controller="Fractions" asp-route-allianceName="@item.Title"><img style="height:6rem" src="@item.ImageSource" />
            <br />
            <br />
            @item.Title</a>

            </div>
            }

        </div>
    
