
@{
    ViewData["Title"] = "Заказ оформлен";
}
    <style>
        h3{
            padding-bottom:3rem;
        }
    </style>
<h1 class="text-center">Ура!</h1>
<h3 class="text-center">Мы получили Ваш заказ и начали его обработку.</h3>
<h5 class="text-center">Заказ #@ViewBag.OrderId</h5>



